/*	FLEX PROPERTIES	*/
body, section { display: flex; flex-direction: column; }

header, footer { flex-shrink: 0; display: inline-flex; }
	nav div.nav-container { display: flex; flex-flow: row wrap; justify-content: space-between; }
	nav div a { flex-grow: 1; }

main { flex-grow: 1; }
	section#splash { align-items: center; justify-content: space-between; }

	section#mission figure { align-self: center; display: flex; flex-direction: column; }
	section#mission figure figcaption { align-self: flex-end; }

	section#service div.service-container div.product-card { display: flex; flex-direction: column; justify-content: space-between; }

	section#tea-masters .staff-container { display: flex; flex-wrap: wrap; }

	section#contact form { display: flex; flex-flow: row wrap; }
	section#contact form section { flex: 1 0 48%; }


/*	LAY-OUT	*/
html { height: 100%; }
body { height: 100%; overflow: hidden; box-sizing: border-box; margin: 0; }
main { overflow-y: scroll; }
p { padding: 0.6em; }
i { letter-spacing: 5px; }

/* nav	*/
nav { width: 100% }
nav div a { margin: 0.1em; padding: 0.2em 0.4em; }

/*	splash	*/
#splash { height: 100%; padding: 1em; }
#splash p { width: 100%; padding: 1em; font-size: 0.9rem; }

/*	mission	*/
#mission figure { max-width: 90%; padding: 0.4em 0.4em 0.4em 1em; margin-top: 1em; }
#mission figure figcaption { padding-right: 1em }
#mission div { margin: 0.7em; }

/*	service	*/
#service .product-card { min-height: 340px; }
#service .product-card h3 { margin-top: 0.6em; margin-right: 12px; padding-left: 16px; }
#service .product-card p { min-height: 90px; margin-bottom: 0.6em; }

/*	tea masters	*/
#tea-masters img { width: 100%; height: 300px; object-fit: cover; object-position: 50% 10%; }
#tea-masters figcaption { margin-bottom: 0.4em; padding: 0.4em 1em; }
#tea-masters .staff-container { width: 98%; }
#tea-masters .staff-card { margin-bottom: 0.4em; }

/*	contact	*/
#contact form { width: 96%; margin: 0.6em auto; padding-bottom: 1em; }
#contact form section {	padding: 1em 0.8em 0 0.8em; }
#contact form label { padding: 0.2em 0.4em; }
#contact form input, #contact form textarea { padding: 0.2em; margin-bottom: 1em; }
#contact form textarea { height: 100%; resize: vertical; }
#contact form button { margin: 0 auto; padding: 1em; }



/*	DECORATION	*/
* { font-family: 'Padauk', sans-serif; font-size: 16px; }
body { background-color: #edefee; }
h1, h2 { font-family: 'Fredericka the Great', cursive; text-align: center; }
h1 { font-size: 3rem; line-height: 1.2em; }
h2 { font-size:2rem; font-weight: normal; color: #edefee; background-color: #b63e2e; }
nav a i { background-color: inherit; }
footer p { font-size: 0.6rem; color: #4a2d22; }

/* nav	*/
nav, nav * { color: #edefee; background-color: #b63e2e; }
nav div a { text-align: center; text-decoration: none; background-color: #af3b2c; }
nav div a:hover { background-color: #e61b00; }

/*	splash	*/
#splash { background-image: url("../images/splash.jpg"); background-position: center; background-repeat: no-repeat; background-size: cover; }
#splash p { font-family: 'Roboto Slab', serif; color: #4a2d22; background-color: rgb(237 239 238 / 54%); }

/*	mission	*/
#mission { background-image: url("../images/tea-fish.jpg"); background-position: center; background-repeat: no-repeat; background-size: cover; }
#mission figure { color: #edefee; background-color: #788780; border-bottom: 4px solid black; border-right: 4px solid black; }
#mission figure blockquote { font-family: 'Roboto Slab', serif; font-size: 1.2rem; line-height: 1.2em; }
#mission figure figcaption { font-family: 'Roboto Slab', serif; font-size: 1rem; line-height: 1.2em; font-style: italic;}
#mission div { background-color: rgba(237,239,238,0.85); }

/*	service	*/
#service { background-color: #333; }
#service .product-card { background-position: center; background-repeat: no-repeat; background-size: cover; }
#service #brews { background-image: url("../images/tea-pink.jpg"); }
#service #delivery { background-image: url("../images/transport.jpg"); }
#service #bites { background-image: url("../images/scone.jpg"); background-position: center; }
#service .product-card h3 { font-family: "Fredericka the Great", cursive; font-size: 1.5rem; font-weight: normal; color: #edefee; background-color: #333; }
#service .product-card p { background-color: rgba(237,239,238,0.85); }

/*	tea masters	*/
#tea-masters figcaption { font-family: 'Roboto Slab', serif; background-color: #333; border-bottom: double #edefee; }
#tea-masters a { font-family: 'Roboto',sans-serif; color:#edefee; }
#tea-masters .staff-container { background-color: #edefee; color: #edefee; }
#tea-masters .staff-card { background-color: #b63e2e; border-right: 2px solid #1a1a1a; box-shadow: 3px 0 3px #1a1a1a; }
#tea-masters .staff-details p:first-child { background-color: #788780; border-bottom: 1px solid #333; }

/*	contact	*/
#contact { background: #788780; }
#contact form { background-color: #edefee; border-radius: 1em; }
#contact form label { font-size: 1.1rem; color: #edefee; background-color: #4a2d22; }
#contact form ::placeholder { color: #bcc5c1; }
#contact form input, #contact form textarea { font-family: 'Padauk', sans-serif; font-size: 1.2rem; color: #4a2d22;	border-bottom: 1px solid #4a2d22; border-right: 1px solid #4a2d22; box-shadow: 0px 4px 3px #788780; }
#contact form button { font-size:1.2rem; color: #4a2d22; background-color: #edefee; cursor: pointer; border: 1px solid #4a2d22; border-radius: 50%; box-shadow: 3px 3px 3px #ecdfac; }
#contact form button:hover, #contact form button:active { text-decoration: underline; border-width: 2px; box-shadow: 2px 2px 2px #ecdfac; }


/*	MEDIA QUERIES	*/

@media only screen and (max-width: 325px) {
	section#splash p { padding: 1em 0.2em; }
}

@media only screen and (min-width: 768px) {
	* { font-size: 20px; }
	h1 { font-size: 5rem; }
	h2 { font-size: 3rem; }
	
	section#splash p { width: auto; padding: 1em 2em; font-size: 1.5rem; }
	
	section#mission, section#service { min-height: 600px; }
	
	section#mission { justify-content: space-between; }
	section#mission div.mission-text { display: flex; }
	section#mission div.mission-text p { flex: 1; }
	
	section#service div.service-container { flex: 1; display: flex; }
	section#service div.service-container div.product-card { flex: 1 1 30%; margin: 0 0.2em 0 0; }
	
	section#tea-masters div.staff-container div.staff-card { flex: 1 1 40%; box-shadow: none; margin: 0.4em; }
}	

@media only screen and (min-width: 1024px) {
	section#tea-masters div.staff-container div.staff-card { flex: 1; box-shadow: none; margin: 0.4em; }
}


/*	colours	*/
/*	#231510;	#4a2d22;	#788780;
	#b63e2e;	#ae3b2c;	#e61b00;
	#ecdfac;	#edefee;	#af3b2c;	*/

/* 	fonts	*/
/*	font-family: 'Padauk', sans-serif;
	font-family: 'Roboto', sans-serif;
	font-family: 'Roboto Slab', serif;
	font-family: 'Fredericka the Great', cursive;	*/